<!DOCTYPE html>
<html>
<head>
  <title>Daily Exchange Rate</title>
</head>
<body>
  <p>The exchange rate from USD to UAH is <strong>{{rate}}</strong> as of <strong>{{date}}</strong>.</p>
</body>
</html>
